ccxt
fakeredis
flwr
httpx
joblib
jsonschema
lightgbm
networkx
numpy
numba
optuna
pandas
backtrader
pyarrow
pyopencl
pytest
pytest-asyncio
python-dotenv
pytz
pyyaml
redis  # optional, used for caching
requests
scikit-learn
prometheus_client
supabase
tenacity
modin[ray]
dask[dataframe]
stable-baselines3
